@model Authentication.Models.Home.ErrorViewModel

@{
    var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
    var requestId = Model?.Error?.RequestId;

    Layout = "_LoginLayout";
}

<section id="wrapper" class="login-sidebar">
    <div class="notice">
        <div class="notice-content">
        </div>
    </div>
    <div class="login-box card">
        <div class="card-body card-middle">
            <form class="form-horizontal form-material form-login row col-xl-8 col-md-12 db" id="account" method="post">


                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-danger">
                            Sorry, there was an error

                            @if (error != null)
                            {
                                <strong>
                                    <em>
                                        : @error
                                    </em>
                                </strong>

                                if (errorDescription != null)
                                {
                                    <div>@errorDescription</div>
                                }
                            }
                        </div>

                        @if (requestId != null)
                        {
                            <div class="request-id">Request Id: @requestId</div>
                        }
                    </div>
                </div>
            </form>
        </div>


    </div>
</section>